<!-- PORTFOLIO -->
<section class="no-padding background-dark">
  <div class="portfolio">
    <!--Portfolio Filter-->
    <div class="container-fluid">
      <ul class="portfolio-filter portfolio-filter-transparent m-b-0" id="portfolio-filter" data-isotope-nav="isotope">
        <li class="ptf-active" data-filter="*">Show All</li>
        <li data-filter=".artwork">Artwork</li>
        <li data-filter=".banner">Banner</li>
        <li data-filter=".beauty">Beauty</li>
        <li data-filter=".marketing">Marketing</li>
        <li data-filter=".design">Design</li>
      </ul>
    </div>
    <!-- END: Portfolio Filter -->

    <!-- Portfolio Items -->
    <div id="isotope" class="isotope portfolio-items" data-isotope-item-space="0" data-isotope-mode="masonry" data-isotope-col="3" data-isotope-item=".portfolio-item" data-lightbox-type="gallery">
      <div class="portfolio-item design artwork">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/26.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/26.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design beauty">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/27.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/27.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design beauty">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/28.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/28.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design artwork">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/4.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/4.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item banner beauty">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/5.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/5.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design artwork banner">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/6.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/6.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design artwork">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/7.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/7.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design marketing">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/8.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/8.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item banner beauty">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/9.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/9.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design artwork banner">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/10.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/10.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design artwork">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/11.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/11.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="portfolio-item design marketing">
        <div class="portfolio-image effect social-links"> <img src="assets/portfolio/12.jpg" alt="">
          <div class="image-box-content">
            <p>
              <a title="Your image title here!" href="assets/portfolio/12.jpg"><i class="fa fa-expand"></i></a>
              <a href="portfolio-page-basic.html"><i class="fa fa-link"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Portfolio Items -->
  </div>
</section>
<!-- END: PORTFOLIO -->
