
<header>
  <div class="container-fluid">
      <h1>Thingy</h1>
  </div>
</header>

<section>
  <div class="container-fluid">
      <h1>Thingy</h1>
  </div>
</section>

<section>
  <div class="container-fluid">
      <h1>Thingy</h1>
  </div>
</section>
